<<<<<<< HEAD
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #cc0a0a;
    border-radius: 5px;
    background-color: #a7b9befd;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="number"] {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #beb22f;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #186683;
    color: #f3f3f7;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
=======
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #cc0a0a;
    border-radius: 5px;
    background-color: #a7b9befd;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="number"] {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #beb22f;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #186683;
    color: #f3f3f7;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
>>>>>>> bb331430285006e0ea562773fc31276d07ed994d
  