
<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #cc0a0a;
      border-radius: 5px;
      background-color: rgb(70, 165, 165);
    }

    h1 {
      text-align: center;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .form-group {
      margin-bottom: 15px;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input[type="password"] {
      width: 95%;
      padding: 6px;
      border-radius: 5px;
      border: 0px solid #beb22f;
    }

    .error-message {
      color: rgb(179, 27, 27);
      font-size: 14px;
    }

    input[type="submit"] {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: none;
      background-color: #186683;
      color: #f3f3f7;
      font-size: 16px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #1ebd26;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Reset Password</h1>
    <div id="errorMessage" class="error-message" style="display: none;">Email and reset token do not match.</div>
    <form id="resetPasswordForm" action="/reset-password" method="post">
      <!-- Add a hidden input field to hold the email value -->
      <input type="hidden" name="email" id="resetEmailInput">

      <div class="form-group">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
      </div>
      <input type="submit" value="Reset Password">
    </form>
  </div>
  <script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const email = urlParams.get('email');
  
   
    // Check if the email parameter is empty or null
    if (!email) {
      // Display an error message
      document.getElementById('errorMessage').style.display = 'block';
    } else {
      document.getElementById('resetEmailInput').value = email;
    }
  </script>
  
</body>
</html>

